Source: qsnapshot
Section: x11
Priority: extra
Maintainer: Wei Cheng Pan <legnaleurc@gmail.com>
Build-Depends: debhelper (>= 8.0.0), cmake, libqt4-dev
Standards-Version: 3.9.2
Homepage: http://legnaleurc.github.com/qsnapshot/
#Vcs-Git: git://git.debian.org/collab-maint/qsnapshot.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/qsnapshot.git;a=summary

Package: qsnapshot
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Cross platform screen capture tool
 This project is inspired by KSnapshot.
